body {
      font-family: monospace;
      background: #1e1e1e;
      color: lime;
      margin: 0;
      padding: 0px;
      font-size: 40px;
    }
    textarea {
      width: 100%;
      height: 900px;
      background: #111;
      color: #0f0;
      border: none;
      padding: 10px;
      resize: none;
      font-size: 40px;
    }
    .controls {
      display:flex;
      gap:16px;
      padding:10px;
    }
    button {
     margin-top: 20px;
  display: inline-block;
  background-color: #3f80ea;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  border-radius: 60px;
  font-size: 40px;
    }
    input[type=file] { display:none; }
    
    iframe {
  width: 100%;
  height: 100vh;
  border: none;
}